body {
  font: 14px 'Lato', sans-serif;;
}

a {
  color: #00B7FF;
}

.navbar-brand {
	font-size: 25px;
}

.page-scroll {
	font-size: 20px;
}

#add {
	text-align: center;
}

.intro-header {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background: url(/img/vegetables.jpg) no-repeat center center;
	background-size: cover;
	height: 730px;
}

.intro-message > h1 {
  margin: 0;
  margin-top: 80px;
  text-shadow: 4px 4px 7px black;
  font-size: 6em;
  color: white;
}

.img-home {
	vertical-align: middle;
	border: 0;
	display: block;
  max-width: 100%;
  height: 359px;
  width: 100%;
  margin: 0;
}

#img-header {
	font-size: 3em;
}

#img-row {
	margin-top: 50px;
}

.social {
	height: 52px;
}

.img-social2 {
	width: 30px;
	height: 30px;
}

.img-social {
	width: 20px;
	height: 20px;
}

.social-btns {
	margin: 0;
}

.info {
	font-size: 35px;
}

#info-section {
	text-align: center;
	margin-top: 60px;
}

.new-recipe {
	text-align: center;
}

.calendar {
	width: 200px;
	height: 260px;
	border: 2px solid;
	text-align: center;
	font-weight: bold;
	background-color: white;
	margin: 1px;
}

.calendar-row {
	margin-left: -137px;
	margin-right: -137px;
}

#title {
	width: 475px;
}

#randomMealForm {
	margin-left: 20px;
}

#randomRecipeInfo {
	min-height: 80px;
	min-width: 300px;
	border: 1px solid;
}

#contact-page {
	text-align: center;
	background: url(/img/fruit.jpg) no-repeat center center;
	background-size: cover;
	height: 750px;
	width: 100%;
}

#inner-contact {
	position: absolute;
	background-color: #FEE0C6;
	opacity: 0.8;
	width: 75%;
	margin-top: 10px;
	border-radius: 4%;
	height: 730px;
	margin-left: 165;
}

#contact-panel {
	position: absolute;
	width: 470px;
	margin-left: 190px;
	margin-top: 230px;
	text-align: left;
	border-radius: 3%;
	opacity: 0.9;
}

.contact-message {
	margin-left: 500px;
}

#personal-background {
	text-align: center;
	background: url(/img/basket.jpg) no-repeat center center;
	background-size: cover;
	height: 800px;
	width: 100%;
	opacity: 0.8;
}

.calendar-header {
	text-shadow: 4px 4px 7px black;
  font-size: 6em;
  color: white;
}

#login-background {
	text-align: center;
	background: url(/img/brownFaded.jpg) no-repeat center center;
  background-size: cover;
	min-height: 780px;
	min-width: 100%;
}

.login-header {
	font-size: 5em;
}

.login-input {
	height: 45px;
	width: 600px;
	margin: auto;
}

#register-background {
	text-align: center;
	background: url(/img/brownFaded.jpg) no-repeat center center;
  background-size: cover;
	min-height: 780px;
	min-width: 100%;
}

/*#outer-personal {
	background-color: white;
	height: 100%;
	width: 100%;
	opacity: 0.6;
}*/