<div ng-model="aboutPage">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/home">Meal Generator</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search" ng-submit="login()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" ng-model="loginForm.username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="loginForm.password">
          </div>
          <button type="submit" class="btn btn-info" ng-disabled="disabled">Login</button>
        </form>
        <ul class="nav navbar-nav navbar-left">
          <!-- <li ng-click="setLoginTemplate(true); setHomePage(true)"><a href="#/login">Login</a></li> -->
          <li ng-click="setRegisterTemplate(true); setHomePage(true)"><a href="#/register">Sign Up</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#/contact">Contact</a></li>
          <li><a href="#/about">About</a></li>
        </ul>
      </div> <!-- .navbar-collapse -->
    </div>
  </nav>

  <br><br><br>
  <div class="container" id="about-page">
    <div class="container">
      <div class="row">
        <div id="inner-contact">
          <div class="col-md-6 col-md-offset-3"> 
          <br>         
            <h1 class="contact-header">About Us</h1>
            <br>
              <p class="home-text">Ever had one of those days when you just don't know what to fix for for breakfast or lunch or dinner? Wouldn't it be wonderful if there was an app that could generate meals automatically...well, there is! With our app, Random Meal Generator, you can click one simple button that will randomly choose a recipe for you.</p>
              <p class="home-text">When you are logged in, click the "Get Recipe" button, enter in the type of dish you would like with an ingredient or multiple ingredients seperated by a comma for a random recipe to be shown. Click the picture to be taken to the site with the directions. If you like the recipe that is shown, click the green approve buttom to save it to your calendar. If you don't like it, click the red cancel button and re-enter in the type and ingredients to get another dish.</p>
          </div>
        </div>
        
        <footer>
          <div class="container" id="about-social">
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-inline banner-social-buttons">
                  <li>
                    <a href="" class="btn btn-default btn-lg social"><img class="img-social" src="../img/twitter.png"> TWITTER</a>
                  </li>
                  <li>
                    <a href="https://github.com/KierstonHill83" class="btn btn-default btn-lg social"><img class="img-social2" src="../img/github.png"> GITHUB</a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/profile/view?id=AAIAABnPlaQB6H340z1FAI3QzrKdfVxaD73qsSs&trk=nav_responsive_tab_profile" class="btn btn-default btn-lg social"><img class="img-social2" src="../img/linkedin.png"> LINKEDIN</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>   
      </div> <!-- close row -->
    </div> <!-- close container --> 
  </div> <!-- close container -->
</div> <!-- close controller -->