<!-- <div ng-controller="RandomMeals"> -->
	<div  ng-controller="RandomMeals" ng-model="homePage" ng-hide="homePage">
		<div class="container">

		  <nav class="navbar navbar-default navbar-fixed-top">
		    <div class="container">

		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand">Meal Generator</a>
		      </div>

		      <!-- Collect the nav links, forms, and other content for toggling -->
		      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		        <form class="navbar-form navbar-left" role="search">
		          <div class="form-group">
		            <input type="text" class="form-control" placeholder="Search" ng-model="search">
		          </div>
		          <!-- <button type="submit" class="btn btn-info">Submit</button> -->
		        </form>
		        <ul class="nav navbar-nav navbar-left">
		          <li ng-click="setLoginTemplate(true); setHomePage(true)"><a href="#/login">Login</a></li>
		          <li ng-click="setRegisterTemplate(true); setHomePage(true)"><a href="#/register">Sign Up</a></li>
		        </ul>
		        <ul class="nav navbar-nav navbar-right">
		        	<li><a href="#info-section">Get a Recipe Now</a></li>
		          <li ng-click="setContactPage(true); setHomePage(true)"><a href="#/contact">Contact</a></li>
		          <li ng-click="setContactPage(true); setHomePage(true)"><a href="#/about">About</a></li>
		        </ul>
		      </div> <!-- .navbar-collapse -->
		    </div>
		  </nav>

		</div> <!-- close container
		 <!-- Header -->
		  <div class="intro-header">
		    <div class="container">
		      <div class="row">
		        <div class="col-lg-12">
		          <div class="intro-message">
		            <h1 id="heading">Random Meal Generator</h1>
		            <hr class="intro-divider">
		            <h2 id="lower-heading">Join for Free</h2>
		          </div>
		        </div>
		      </div>
		    </div> <!-- end container div -->
		  </div> <!-- end header div -->

		<div class="container" id="info-section">
			<div class="row">
				<div class="col-lg-12">
					<div class="col-md-4">
						<h2 class="info">Allergies</h2>
						<hr class="small">
						<p>Text about allergies or intolerances or dislikes</p>
					</div>
					<div class="col-md-4">
						<h2 class="info">Get a Random Recipe</h2>
						<hr class="small">
						<p>Click the button below to have a random recipe displayed for you. Input the category and the ingredients you would like.</p>
						<button type="button" class="btn btn-lg btn-info" ng-click="randomMealForm = true">Click for a Random Recipe</button>
						
					</div>
					<div class="col-md-4">
						<h2 class="info">Benefits</h2>
						<hr class="small">
						<p>When you sign up you can plan a weeks worth of random meals with a shopping list.</p>
					</div>
				</div>
			</div>
		</div>

		<random-meal></random-meal>


		<div class="row" id="img-row">
			<div class="col-lg-10 col-lg-offset-1 text-center">
				<h2 id="img-header">Popular Dishes</h2>
				<hr class="small">
				<div class="row">
					<div class="col-md-6">
						<img class="img-home img-responsive" src="../img/drumsticks.jpg" alt="drumsticks">
					</div>
					<div class="col-md-6">
						<img class="img-home img-responsive" src="../img/enchiladas.jpg" alt="enchiladas">
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-md-6">
						<img class="img-home img-responsive" src="../img/salad.jpg" alt="salad">
					</div>
					<div class="col-md-6">
						<img class="img-home img-responsive" src="../img/asian.jpg" alt="chicken">
					</div>
				</div>
			</div>
		</div>

		<br><br>
		<footer>
			<div class="container" id="contact-info">
				<div class="row">
					<div class="col-lg-12">
						<ul class="list-inline banner-social-buttons">
							<li>
								<a href="" class="btn btn-default btn-lg social"><img class="img-social" src="../img/twitter.png"> TWITTER</a>
							</li>
							<li>
								<a href="https://github.com/KierstonHill83" class="btn btn-default btn-lg social"><img class="img-social2" src="../img/github.png"> GITHUB</a>
							</li>
							<li>
								<a href="https://www.linkedin.com/profile/view?id=AAIAABnPlaQB6H340z1FAI3QzrKdfVxaD73qsSs&trk=nav_responsive_tab_profile" class="btn btn-default btn-lg social"><img class="img-social2" src="../img/linkedin.png"> LINKEDIN</a>
							</li>
						</ul>
						<p class="copyright text-muted small">Copyright &copy Kierston Hill 2015. All Rights Reserved</p>
					</div>
				</div>
			</div>
		</footer>
	</div> <!-- close model -->
	</div>
<!-- </div> -->
	
<!-- put in a validator -->
