<div ng-model="homePage" ng-hide="homePage">
	<div class="container">

	  <nav class="navbar navbar-default navbar-fixed-top">
	    <div class="container">

	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand">Meals</a>
	      </div>

	      <!-- Collect the nav links, forms, and other content for toggling -->
	      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <form class="navbar-form navbar-left" role="search">
	          <div class="form-group">
	            <input type="text" class="form-control" placeholder="Search" ng-model="search">
	          </div>
	          <!-- <button type="submit" class="btn btn-info">Submit</button> -->
	        </form>
	        <ul class="nav navbar-nav navbar-left">
	          <li ng-click="loginForm = true; homePage = true"><a href="#">Login</a></li>
	          <li ng-click="registerForm = true; homePage = true"><a href="#">Register</a></li>
	        </ul>
	        <ul class="nav navbar-nav navbar-right">
	        	<li><a href="#info-section">Get a Recipe Now</a></li>
	          <li><a href="#contact-info">Contact</a></li>
	          <li><a href="#info-section">About</a></li>
	        </ul>
	      </div> <!-- .navbar-collapse -->
	    </div>
	  </nav>

	</div> <!-- close container

	<!-- <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
	          <i class="fa fa-bars"></i>
	        </button>
	        <a class="navbar-brand page-scroll" href="#page-top">
	          <i class="fa fa-play-circle"></i>  
	          	<span class="light"></span> Home
	        </a>
				</div>
				<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
	        <ul class="nav navbar-nav">
	            <!-- Hidden li included to remove active class from about link when scrolled up past about section
	          <!-- <li class="hidden active">
	            <a href="#page-top"></a>
	          </li>
	          <li>
	            <a class="page-scroll" href="#info-section">About</a>
	          </li>
	          <li>
	            <a class="page-scroll" href="#download">Download</a>
	          </li>
	          <li>
	            <a class="page-scroll" href="#contact-info">Contact</a>
	          </li>
	        </ul>
	    	</div>
			</div>
		</nav> --> 


	<div id="home-page">
	 <!-- Header -->
	  <div class="intro-header">
	    <div class="container">
	      <div class="row">
	        <div class="col-lg-12">
	          <div class="intro-message">
	            <h1 id="heading">Random Meal Generator</h1>
	            <hr class="intro-divider">
	          </div>
	        </div>
	      </div>
	    </div> <!-- end container div -->
	  </div> <!-- end header div -->
	</div>


	<div class="container" id="info-section">
		<div class="row">
			<div class="col-lg-12">
				<!-- <h2>About Us</h2>
				<hr class="small"> -->
				<div class="col-md-4">
					<h2 class="info">Some text</h2>
					<hr class="small">
					<p>Maybe there will be text about the filters</p>
				</div>
				<div class="col-md-4">
					<h2 class="info">Get a Random Recipe</h2>
					<hr class="small">
					<button type="button" class="btn btn-lg btn-info" ng-click="randomMealForm = true">Click for a Random Recipe</button>
					<!-- call a directive in a directive -->
					<random-meal></random-meal>
				</div>
				<div class="col-md-4">
					<h2 class="info">Some text</h2>
					<hr class="small">
					<p>There will be text about what you can do when you login</p>
				</div>
			</div>
		</div>
	</div>


	<div class="row" id="img-row">
		<div class="col-lg-10 col-lg-offset-1 text-center">
			<h2 id="img-header">Some Examples</h2>
			<hr class="small">
			<div class="row">
				<div class="col-md-6">
					<img class="img-home img-responsive" src="../img/drumsticks.jpg" alt="drumsticks">
				</div>
				<div class="col-md-6">
					<img class="img-home img-responsive" src="../img/enchiladas.jpg" alt="enchiladas">
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-md-6">
					<img class="img-home img-responsive" src="../img/salad.jpg" alt="salad">
				</div>
				<div class="col-md-6">
					<img class="img-home img-responsive" src="../img/asian.jpg" alt="chicken">
				</div>
			</div>
		</div>
	</div>

	<br><br>
	<footer>
		<div class="container" id="contact-info">
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="" class="btn btn-default btn-lg social"><img class="img-social" src="../img/twitter.png"> TWITTER</a>
						</li>
						<li>
							<a href="https://github.com/KierstonHill83" class="btn btn-default btn-lg social"><img class="img-social2" src="../img/github.png"> GITHUB</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/profile/view?id=AAIAABnPlaQB6H340z1FAI3QzrKdfVxaD73qsSs&trk=nav_responsive_tab_profile" class="btn btn-default btn-lg social"><img class="img-social2" src="../img/linkedin.png"> LINKEDIN</a>
						</li>
						<li>
							<a href="https://www.facebook.com/kierston.r.hill" class="btn btn-default btn-lg social"><img class="img-social" src="../img/facebook.jpg"> FACEBOOK</a>
						</li>
					</ul>
					<p class="copyright text-muted small">Copyright &copy Kierston Hill 2015. All Rights Reserved</p>
				</div>
			</div>
		</div>
	</footer>
</div>
	




    