<!-- have calendar, button to add a new recipe, search to find other recipes, filter checkboxes -->
<div ng-model="personalPage" ng-show="personalPage">
	<div class="container">
		<h1 class="text-center">Your Calendar</h1>
		<div class="row calendar-row">
			<div class="col-md-12 calendar">
				<h3>Sunday</h3>
				<hr class="small">
			</div>
			<div class="col-md-12 calendar">
				<h3>Monday</h3>
				<hr class="small">
			</div>
			<div class="col-md-12 calendar">
				<h3>Tuesday</h3>
				<hr class="small">
			</div>
			<div class="col-md-12 calendar">
				<h3>Wednesday</h3>
				<hr class="small">
			</div>
			<div class="col-md-12 calendar">
				<h3>Thursday</h3>
				<hr class="small">
			</div>
			<div class="col-md-12 calendar">
				<h3>Friday</h3>
				<hr class="small">
			</div>
			<div class="col-md-12 calendar">
				<h3>Saturday</h3>
				<hr class="small">
			</div>
		</div>
	</div> <!-- close row -->
</div> <!-- close container