<div class="container" ng-model="registerTemplate" ng-show="registerTemplate">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Login</h1>
      <br>
      <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>

      <form class="form-group" ng-submit="login(); registerTemplate = false; setPersonalPage(true)">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
        </div>
        <div class="form-group">
          <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
        </div>
        <div>
          <button type="submit" class="btn btn-primary" ng-disabled="disabled">Login</button>
          <button type="button" class="btn btn-danger" ng-click="registerTemplate = false; setHomePage(false)">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
