<!DOCTYPE html>
<html ng-app="mealGenerator">
  <head>
    <meta charset="utf-8">
    <title>Meal Generator</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body ng-controller="myMealController">

  <!-- <div ng-controller="RandomMeals">
    <home-page></home-page>
    <contact-page></contact-page>
    <personal-page></personal-page>
  </div>
    
  <div ng-controller="loginController">
    <login-page></login-page>
  </div>

  <div ng-controller="registerController">
    <register-page></register-page>
  </div> -->


   
      <div ng-view></div>

    
    
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-route.js"></script>
    <script src="http://code.angularjs.org/1.3.0-rc.2/angular-resource.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

    <script src="/js/app.js" type="text/javascript"></script>

    <script src="/js/controllers/loginController.js" type="text/javascript"></script>
    <script src="/js/controllers/logoutController.js" type="text/javascript"></script>
    <script src="/js/controllers/myMealController.js" type="text/javascript"></script>
    <script src="/js/controllers/randomMealController.js" type="text/javascript"></script>
    <script src="/js/controllers/recipePuppyController.js" type="text/javascript"></script>
    <script src="/js/controllers/registerController.js" type="text/javascript"></script>
    <script src="/js/controllers/personalController.js" type="text/javascript"></script>
    <script src="/js/controllers/weatherController.js" type="text/javascript"></script>

    <script src="/js/directives/addRecipe.js" type="text/javascript"></script>
    <script src="/js/directives/contactPage.js" type="text/javascript"></script>
    <script src="/js/directives/homePage.js" type="text/javascript"></script>
    <script src="/js/directives/loginPage.js" type="text/javascript"></script>
    <script src="/js/directives/personalPage.js" type="text/javascript"></script>
    <script src="/js/directives/randomMeal.js" type="text/javascript"></script>
    <script src="/js/directives/registerPage.js" type="text/javascript"></script>
    <script src="/js/directives/weatherDirective.js" type="text/javascript"></script>

    <script src="/js/services/authService.js" type="text/javascript"></script>
    <script src="/js/services/recipeFactory.js" type="text/javascript"></script>
    <script src="/js/services/weatherService.js" type="text/javascript"></script>

  </body>
</html>