 <div class="container">

    <h1>Login</h1>
    <p>It's where you login</p>
    <br>

    <form class="form-group" role="form" action="/login" method="post">
      <input type="email" class="form-control form-group" id="email" name="username" placeholder="Email">
      <input type="password" class="form-control form-group" id="password" name="password" placeholder="Password">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-danger">Cancel</button>
    </form>

  </div>